<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <h1><%= isSelf ? 'Your Profile' : profile.name %></h1>
    <img 
      src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar"
    >
  </div>
  <div>
    <h2><%= isSelf ? 'Your Recipes' : `${profile.name}'s Recipes` %> </h2>
    <% if (profile.recipes.length) { %>
      <ul>
        <% profile.recipes.forEach(recipe => { %>
          <li>
            <%= recipe.name %>
            <a href="/recipes/<%= recipe._id %>">Details</a>
            <% if (recipe.owner.equals(user?.profile._id)) { %>
              <a href="/recipes/<%= recipe._id %>/edit">
                <button type="submit">Edit</button>
              </a>
              <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>