<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div id="header">
    <h1><%= isSelf ? 'Your Profile' : profile.name %></h1>
    <div id="sub-header">
      <img 
      src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar"
      >
      <div id="quote-div">
        <p>"Health is a state of body. Wellness is a state of being"</p>
        <p>J. Stanford</p>
      </div>
    </div>
  </div>
  <div id="recipes">
    <div id="recipe-header">
      <h2><%= isSelf ? 'Your Recipes' : `${profile.name}'s Recipes` %> </h2>
      <% if (isSelf) { %>
        <a href="/recipes/new">New Recipe→</a>
      <% } %>
    </div>
    <% if (profile.recipes.length) { %>
      <div class="card-container">
        <% profile.recipes.forEach(recipe => { %>
          <div class="card">
            <div class="card-left">
              <%= recipe.name %>
            </div>
            <div class="card-right">
              <% if (isSelf) { %>
                <a href="/recipes/<%= recipe._id %>/edit">
                  <button type="submit">Edit</button>
                </a>
                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
              <a href="/recipes/<%= recipe._id %>">Details→</a>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p id="no-recipe-msg">
        <%= isSelf ? "You haven't" : "This user hasn't" %> created any recipes yet. 
        <%= isSelf ? 'Use the button above to make one!' : '' %>
      </p>
    <% } %> 
  </div>
  <div id="exercises">
    <div id="exercise-header">
      <h2><%= isSelf ? 'Your Exercises' : `${profile.name}'s Exercises` %> </h2>
      <% if (isSelf) { %>
        <a href="/exercises/new">New Exercise Log→</a>
      <% } %>
    </div>
    <% if (profile.exercises.length) { %>
      <div class="card-container">
        <% profile.exercises.forEach(exercise => { %>
          <div class="card">
            <div class="card-left">
              <p><%= exercise.type %></p>
              <p><%= `${exercise.date.toISOString().slice(5, 7)}/${exercise.date.toISOString().slice(8, 10)}/${exercise.date.toISOString().slice(0, 4)}` %></p>
            </div>
            <div class="card-right">
              <% if (isSelf) { %>
                <a href="/exercises/<%= exercise._id %>/edit">
                  <button type="submit">Edit</button>
                </a>
                <form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
              <a href="/exercises/<%= exercise._id %>">Details→</a>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p id="no-exercise-msg">
        <%= isSelf ? "You haven't" : "This user hasn't" %> logged any exercises yet. 
        <%= isSelf ? 'Use the button above to make a new log!' : '' %>
      </p>
    <% } %> 
  </div>
</main>

<%- include('../partials/footer') %>