<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/exercises/index.css">
<%- include('../partials/nav') %>

<main>
  <div id="header">
    <img src="/assets/yoga.jpeg" alt="lady doing yoga at sunset">
    <section id="title">
      <h1><%= title %></h1>
      <% if (user) { %>
        <a href="/exercises/new">log exercise→</a>
      <% } %>
    </section>
  </div>
  <section id="content">
    <div id="card-container">
      <% exercises.forEach(exercise => { %>
        <% if (exercise.share) { %>
          <div class="card">
            <div class="card-title">
              <h2><%= exercise.type %></h2>
              <h3><%= exercise.owner.name %></h3>
              <h4><%= exercise.date.toLocaleDateString() %></h4>
            </div>
            <div class="details-button">
              <a href="/exercises/<%= exercise._id %>">Details→	</a>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %> 