<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/edit.css">
<%- include('../partials/nav') %>

<main>
  <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <div id="name-div">
      <input type="text" name="name" id="name-input" required autocomplete="off" autofocus="autofocus" value="<%= recipe.name %>" placeholder="recipe name*">
    </div>
    <div id="recipe">
      <div id="recipe-header">
        <div id="header-left">
          <div id="meal-select-container">
            <label for="meal-select">Select Category:</label>
            <select name="meal" id="meal-select">
              <option value="<%= recipe.meal %>"><%= recipe.meal %></option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div id="time-input-container">
            <label for="time-input">Estimated Time (in minutes):</label>
            <input type="number" name="estTime" id="time-input" value="<%= recipe.estTime %>">
          </div>
        </div>
        <button type="submit">Update Recipe</button>
      </div>
      <div id="recipe-content">
        <p>Ingredients:</p>
        <ul>
          <% recipe.ingredients.forEach(ingredient => { %>
            <li><%= ingredient.name %> (<%= ingredient.foodGroup %>)</li>
          <% }) %>
        </ul>
        <label for="instructions-textarea">Preparation:</label>
        <br>
        <textarea name="instructions" id="instructions-textarea" autocomplete="off"><%= recipe.instructions %></textarea>
      </div>
    </div>
  </form>
  <section id="add-ingredients">
    <div id="add-ing-header">
      <h2>Add ingredients to your recipe!</h2>
      <p>Click the check mark to add an ingredient to the recipe.</p>
      <p>Make sure to hit the update button above to save all changes!</p>
    </div>
    <div id="grid-container">
      <div id="ingredient-options">
        <div id="vegetables">
          <div class="food-group">Vegetables:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Vegetable') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="meat-fish">
          <div class="food-group">Meats/Fish:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Meat/Fish') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="grains">
          <div class="food-group">Grains:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Grain') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="dairy">
          <div class="food-group">Dairy:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Dairy') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="fats-oils">
          <div class="food-group">Fats/Oils:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Fat/Oil') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="herbs-spices">
          <div class="food-group">Herbs/Spices:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Herb/Spice') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
        <div id="other">
          <div class="food-group">Other:</div>
          <div>
            <ul>
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.foodGroup === 'Other') { %>
                  <li>
                    <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                      <button class="add" type="submit">✓</button>
                      <p><%= ingredient.name %></p>
                    </form>
                  </li>
                <% } %> 
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="create-ingredients">
    <div id="create-ing-header">
      <h3>Need to create new ingredients for your recipe? <br>Create one Below!</h3>
      <p>Please ensure that the ingredient you are looking for does not already exist. After adding, make sure to click the ingredient above to add it to your recipe.</p>
    </div>
    <div id="create-ing-form">
      <form action="/ingredients/<%= recipe._id %>" method="POST">
        <input type="text" name="name" id="ing-name-input" required autocomplete="off" placeholder="ingredient name*">
        <div id="create-form-bottom">
          <label for="food-group-select">Food Group:</label>
          <select name="foodGroup" id="food-group-select" required>
            <option value="Vegetable">Vegetable</option>
            <option value="Meat/Fish">Meat/Fish</option>
            <option value="Grain">Grain</option>
            <option value="Dairy">Dairy</option>
            <option value="Fat/Oil">Fat/Oil</option>
            <option value="Fruit">Fruit</option>
            <option value="Herb/Spice">Herb/Spice</option>
            <option value="Other">Other</option>
          </select>
          <button id="new-ing-button" type="submit">Create</button>
        </div>
      </form >
    </div>
  </section>
</main>

<%- include('../partials/footer') %>