<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" required autocomplete="off" value="<%= recipe.name %>">
    <label for="meal-select">Meal:</label>
    <select name="meal" id="meal-select">
      <option value="<%= recipe.meal %>"><%= recipe.meal %></option>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Other">Other</option>
    </select>
    <label for="time-input">Estimated Time (in minutes):</label>
    <input type="number" name="estTime" id="time-input" value="<%= recipe.estTime %>">
    <label for="instructions-textarea">Instructions:</label>
    <textarea name="instructions" id="instructions-textarea" autocomplete="off"><%= recipe.instructions %></textarea>
    <button type="submit">Update Recipe</button>
  </form>
  <section>
    <h2>Add ingredients to your recipe!</h2>
    <p>Make sure to hit the update button above to save all changes!</p>
    <form action="/recipes/<%= recipe._id %>/ingredients" method="POST">
      <select name="ingredientId" id="ingredient-select">
        <% ingredients.forEach(ingredient => { %>
          <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Ingredient</button>
    </form>
    <p>Current Ingredients:</p>
    <ul>
      <% recipe.ingredients.forEach(ingredient => { %>
        <li><%= ingredient.name %> (<%= ingredient.foodGroup %>)</li>
      <% }) %>
    </ul>
  </section>
  <section>
    <h3>Need to create new ingredients for your recipe? Add Below!</h3>
    <p>Please ensure that the ingredient you are looking for does not already exist</p>
    <form action="/ingredients" method="POST">
      <label for="name-input">Name:</label>
      <input type="text" name="name" id="name-input" required autocomplete="off">
      <label for="food-group-select">Food Group:</label>
      <select name="foodGroup" id="food-group-select" required>
        <option value="Vegetable">Vegetable</option>
        <option value="Meat/Fish">Meat/Fish</option>
        <option value="Grain">Grain</option>
        <option value="Dairy">Dairy</option>
        <option value="Fat/Oil">Fat/Oil</option>
        <option value="Fruit">Fruit</option>
        <option value="Herb/Spice">Herb/Spice</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit">Create</button>
    </form >
  </section>
</main>

<%- include('../partials/footer') %>