<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" required autocomplete="off" value="<%= recipe.name %>">
    <label for="meal-select">Meal:</label>
    <select name="meal" id="meal-select">
      <option value="<%= recipe.meal %>"><%= recipe.meal %></option>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Other">Other</option>
    </select>
    <label for="time-input">Estimated Time (in minutes):</label>
    <input type="number" name="estTime" id="time-input" value="<%= recipe.estTime %>">
    <label for="instructions-textarea">Instructions:</label>
    <textarea name="instructions" id="instructions-textarea" autocomplete="off"><%= recipe.instructions %></textarea>
    <button type="submit">Update Recipe</button>
  </form>
  <section>
    <h2>Add ingredients to your recipe!</h2>
    <p>Make sure to hit the update button above to save all changes!</p>
    <div>Vegetables</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Vegetable') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Meats/Fish:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Meat/Fish') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Grains:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Grain') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Dairy:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Dairy') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Fats/Oils:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Fat/Oil') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Herbs/Spices:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Herb/Spice') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <div>Other:</div>
    <div>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if (ingredient.foodGroup === 'Other') { %>
            <li>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>" method="POST">
                <%= ingredient.name %>
                <button type="submit">✅</button>
              </form>
            </li>
          <% } %> 
        <% }) %>
      </ul>
    </div>
    <p>Current Ingredients:</p>
    <ul>
      <% recipe.ingredients.forEach(ingredient => { %>
        <li><%= ingredient.name %> (<%= ingredient.foodGroup %>)</li>
      <% }) %>
    </ul>
  </section>
  <section>
    <h3>Need to create new ingredients for your recipe? Create one Below!</h3>
    <p>Please ensure that the ingredient you are looking for does not already exist. After adding, make sure to click the ingredient above to add it to your recipe.</p>
    <form action="/ingredients/<%= recipe._id %>" method="POST">
      <label for="name-input">Name:</label>
      <input type="text" name="name" id="name-input" required autocomplete="off">
      <label for="food-group-select">Food Group:</label>
      <select name="foodGroup" id="food-group-select" required>
        <option value="Vegetable">Vegetable</option>
        <option value="Meat/Fish">Meat/Fish</option>
        <option value="Grain">Grain</option>
        <option value="Dairy">Dairy</option>
        <option value="Fat/Oil">Fat/Oil</option>
        <option value="Fruit">Fruit</option>
        <option value="Herb/Spice">Herb/Spice</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit">Create</button>
    </form >
  </section>
</main>

<%- include('../partials/footer') %>