<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <div id="header">
    <img src="/assets/header-photo.jpeg" alt="photo of dinner table">
    <section id="title">
      <h1>Recipes</h1>
    </section>
  </div>
  <section id="content">
    <table>
      <thead>
        <tr>
          <th>Recipe Name</th>
          <th>Meal</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% recipes.forEach(recipe => { %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.meal %></td>
            <td>
              <img src="<%= recipe.owner.avatar %>" alt="<%= recipe.owner.name %>'s avatar">
              <%= recipe.owner.name %>
            </td>
            <td>
              <a href="/recipes/<%= recipe._id %>">Details</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</main>

<%- include('../partials/footer') %>