<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= recipe.name %></h1>
  <h2>Posted by <%= recipe.owner.name %></h2>
  <% if (recipe.owner.equals(user?.profile._id)) { %>
    <section>
      <a href="/recipes/<%= recipe._id %>/edit">
        <button type="submit">Edit Recipe</button>
      </a>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Recipe</button>
      </form>
    </section>
  <% } %>
  <section>
    <div>Meal:</div>
    <div><%= recipe.meal %></div>
    <div>Estimated Time: </div>
    <div><%= recipe.estTime %> minutes</div>
    <div>Ingredients: </div>
    <ul>
      <% recipe.ingredients.forEach(ingredient => { %>
        <li><%= ingredient.name %> (<%= ingredient.foodGroup %>)</li>
      <% }) %>
    </ul>
    <div>Instructions: </div>
    <div><%= recipe.instructions %></div>
  </section>
  <section>
    <% if (user) { %>
      <form action="/recipes/<%= recipe._id %>/reviews" method="POST">
        <label for="content-textarea">Review:</label>
        <textarea name="content" id="content-textarea"></textarea>
        <label for="rating-select"></label>
        <select name="rating" id="rating-select">
          <option value="5" selected>5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
        <button type="submit">Submit Review</button>
      </form>
    <% } %> 
  </section>
  <section>
    <% if (recipe.reviews.length) { %>
      <ul>
        <% recipe.reviews.forEach(review => { %>
          <li>
            <%= review.name %>
            <%= review.content %>
            <%= review.rating %>
            <% if (review.owner.equals(user?.profile._id)) { %> 
              <form action="/recipes/<%= recipe._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Review</button>
              </form>
            <% } %> 
          </li>
        <% }) %>
      </ul>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>
